#create-form, #update-form, #delete-form{
			display: none;
		}


		.main-div{
			width: 80vw;
			margin: 0 auto;
		}

		h2{
			text-align: center;
		}

		table{
			margin: 15px auto;
			width: 50vw;
			text-align: center;
		}

		table tr td{
			padding: 12px;

		}

		.content-wrapper{
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}


		#create, #update, #delete{
			width: 140px;
			height: 37.5px;
			background-color: blue;
			color: #FFFFFF;
			border-radius: 5px;
			border: 1.5px solid black;
			cursor: pointer;
			letter-spacing: 1.5px;
		}

		.small-button{
			width: 76px;
			height: 30px;
			background-color: blue;
			color: #FFFFFF;
			border-radius: 3px;
			border-color: black;
			cursor: pointer;
			letter-spacing: 1.5px;
		}

input[type = "text"]{
	margin: 6px;
	width: 260px;
	height: 32px;
	
}




